<div class="well">
    <span class="glyphicon glyphicon-remove remove-gallery"></span>
    <h3 class="pull-left"><%= title %></h3>
    <p class="pull-right sort">Sort by
        <a href="#" data-sort="published" class="sort-date-published">date published</a>
        <a href="#" data-sort="date_taken" class="sort-date-taken">date taken</a>
    </p>
    <div class="clearfix"></div>
    <div class="tag-images"></div>
    <div class="clear"></div>
</div>

