body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.gallery-image{
    float: left;
    margin: 10px;
}

.clear{
    clear: both;
}

.gallery-image{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.well{
    position: relative;
}

.remove-gallery{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
}
h3{
    margin: 0 0 0 10px;
}
.sort{
    margin-right: 25px;
}